body {
 font-family: "Lato", sans-serif;
} 
#div_id{
    color: aqua;
    font-size: 30px;
}
.colorty {
    color: darkorchid;
    font-size: 30px;
}

.menu {
    display: flex;
    gap: 40px;
}

.hr {
    color: fuchsia;
    border-width: 5px;
    overflow: hidden;
    margin-block-start: 5em;
    border-block-end: 10em;
}